<html>

<body style="background: #f2f2f2;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">

<div style="max-width: 560px;padding: 20px;background: #ffffff;border-radius: 5px;margin:40px auto;font-family: Open Sans,Helvetica,Arial;font-size: 15px;color: #666;">

	<div style="color: #444444;font-weight: normal;">
		<div style="text-align: center;font-weight:600;font-size:26px;padding: 10px 0;border-bottom: solid 3px #eeeeee;">{site_name}</div>
		
		<div style="clear:both"></div>
	</div>

		<div style="padding: 0 30px 30px 30px;border-bottom: 3px solid #eeeeee;">

			Σας ευχαριστούμε για την εγγραφή σας στους διαδικτυακούς τόπους του ΕΛ/ΛΑΚ. Ο λογαριασμός σας είναι τώρα ενεργός. Για να πραγματοποιήσετε είσοδο πατήστε τον ακόλουθο σύνδεσμο: {login_url} e-mail: {email} όνομα χρήστη: {username} κωδικός πρόσβασης: {password}
			Μπορείτε να συμμετάσχετε σε όλους τους ιστότοπους που αφορούν το Ελεύθερο Λογισμικό / Λογισμικό Ανοιχτού Κώδικα. Αναλυτικά όλοι οι ιστότοποι υπάρχουν <a href="https://ellak.gr/wiki/index.php?title=%CE%9F%CE%B4%CE%B7%CE%B3%CE%AF%CE%B5%CF%82_%CE%A7%CF%81%CE%AE%CF%83%CE%B7%CF%82_Blogs_%CE%9F%CE%BC%CE%AC%CE%B4%CF%89%CE%BD_%CE%95%CF%81%CE%B3%CE%B1%CF%83%CE%AF%CE%B1%CF%82"
			target="_blank">εδώ</a>. Μπορείτε να επεξεργαστείτε το προφίλ σας επιλέγοντας πάνω δεξιά το "Ο λογαριασμός μου" ώστε να :
			<ul>
				<li>Eγγράφεστε αυτόματα στις λίστες ενημέρωσης των δράσεων της ΕΕΛ/ΛΑΚ</li>
				<li>Eγγράφεστε αυτόματα στα newsletter της</li>
				<li>Εγγράφεστε ως χρήστες στο ccradio, </li>
				<li>Εγγράφεστε στις ομάδες εργασίας της ΕΕΛ/ΛΑΚ και στις λίστες συζήτησης και συντονισμού τους </li>
				<li>Να εμπλουτίσετε τις προσωπικές σας πληροφορίες (social media, σύντομο βιογραφικό, συμμετοχή σε έργα ΕΛ/ΛΑΚ)</li>
			</ul>

			Τέλος ως μέλη της κοινότητας μπορείτε να συμμετέχετε ενεργά στις δράσεις και τα sites του <a href="https://ellak.gr/" target="_blank">ellak.gr</a>, στα οποία μπορείτε να γράψετε και να υποβάλετε άρθρα για δημοσίευση. (Αναλυτικές οδηγίες δημοσίευσης
			άρθρου δείτε <a href="https://ellak.gr/wiki/index.php?title=%CE%9F%CE%B4%CE%B7%CE%B3%CE%AF%CE%B5%CF%82_%CE%A7%CF%81%CE%AE%CF%83%CE%B7%CF%82_Blogs_%CE%9F%CE%BC%CE%AC%CE%B4%CF%89%CE%BD_%CE%95%CF%81%CE%B3%CE%B1%CF%83%CE%AF%CE%B1%CF%82" target="_blank">εδώ</a>).
			Μην ξεχνάτε ότι όλα τα άρθρα που υποβάλλετε, δημοσιεύονται κάθε μήνα στο ενημερωτικό δελτίο που αποστέλεται από την ΕΕΛ/ΛΑΚ σε περίπου 48000 εγγεγραμμένους χρήστες. Αν αντιμετωπίζετε οποιοδήποτε πρόβλημα, επικοινώνήστε μαζί μας στο <a href="mailto:webmaster@ellak.gr">webmaster email</a>.
			Σε ευχαριστούμε, {site_name}

		</div>
	
	<div style="color: #999;padding: 20px 30px">

		<div style="">Thank you!</div>
		<div style="">The <a href="{site_url}" style="color: #3ba1da;text-decoration: none;">{site_name}</a> Team</div>
		
	</div>

</div>

</body>
</html>